<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../_header.ejs") %>

    <h1>Meal Plan Breakdown: <%= my_plan[0].meal_plan %></h1>

    <% let currentDay = 0; %> <% my_plan.forEach((entry, index) => { %> <% if
    (entry.day_number !== currentDay) { %> <% currentDay = entry.day_number; %>
    <h2>Day <%= currentDay %></h2>
    <% } %>

    <h3><%= entry.meal_type %></h3>
    <p><%= entry.meal_notes %></p>
    <ul>
      <li>
        <strong><%= entry.item_name %></strong> - <%= entry.quantity %> ( <%=
        entry.calories %> cal )
      </li>
    </ul>
    <% }) %>
  </body>
</html>
